form {
    display: grid;
    grid-template-columns: 150px 150px;
    border-style: solid;
    width: 300px;
    padding: 15px;
    row-gap: 15px;
    margin : auto;
}

form label[for = "prenom"] {
    text-align: center;
}

form label[for = "nom"] {
    text-align: center;
}

h1{
    text-align: center;
    color: blue;
    text-shadow: 1px 1px 0px;
}

